################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/NUnit.3.4.1/lib/portable-net45+win8+wp8+wpa81+Xamarin.Mac+MonoAndroid10+MonoTouch10+Xamarin.iOS10/nunit.framework.xml
/packages/NUnit.3.4.1/lib/portable-net45+win8+wp8+wpa81+Xamarin.Mac+MonoAndroid10+MonoTouch10+Xamarin.iOS10/nunit.framework.dll
/packages/NUnit.3.4.1/lib/portable-net45+win8+wp8+wpa81+Xamarin.Mac+MonoAndroid10+MonoTouch10+Xamarin.iOS10
/packages/NUnit.3.4.1/lib/net45/nunit.framework.xml
/packages/NUnit.3.4.1/lib/net45/nunit.framework.dll
/packages/NUnit.3.4.1/lib/net45
/packages/NUnit.3.4.1/lib/net40/nunit.framework.xml
/packages/NUnit.3.4.1/lib/net40/nunit.framework.dll
/packages/NUnit.3.4.1/lib/net40
/packages/NUnit.3.4.1/lib/net35/nunit.framework.xml
/packages/NUnit.3.4.1/lib/net35/nunit.framework.dll
/packages/NUnit.3.4.1/lib/net35
/packages/NUnit.3.4.1/lib/net20/NUnit.System.Linq.dll
/packages/NUnit.3.4.1/lib/net20/nunit.framework.xml
/packages/NUnit.3.4.1/lib/net20/nunit.framework.dll
/packages/NUnit.3.4.1/lib/net20
/packages/NUnit.3.4.1/lib/dotnet/nunit.framework.xml
/packages/NUnit.3.4.1/lib/dotnet/nunit.framework.dll
/packages/NUnit.3.4.1/NUnit.3.4.1.nupkg
/packages/NUnit.3.4.1/NOTICES.txt
/packages/NUnit.3.4.1/LICENSE.txt
/packages/NUnit.3.4.1/CHANGES.txt
/packages/NUnit.3.4.1
/.vs/Tennis-Refactoring-Kata/v14/.suo
/Tennis/bin/Debug/Tennis.pdb
/Tennis/bin/Debug/Tennis.dll
/Tennis/bin/Debug/nunit.framework.xml
/Tennis/bin/Debug/nunit.framework.dll
/Tennis/obj/Debug/Tennis.pdb
/Tennis/obj/Debug/Tennis.dll
/Tennis/obj/Debug/Tennis.csprojResolveAssemblyReference.cache
/Tennis/obj/Debug/Tennis.csproj.FileListAbsolute.txt
/Tennis/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Tennis/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Tennis/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Tennis/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
